.TarrifPlans {
  color: #262626;
  background-color: #f5f5f585;
  position: relative;
  z-index: 1;
  /* padding-top: 25px; */
}


.TarrifPlans .bg-image-rhombus {
  background-image: url("../../images/bg-leaderboard-left.png");
  width: 200px;
  height: 200px;
  color: #f3f3f3;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 58px;
  left: 177px;
  opacity: 0.99;
  z-index: -1;
}

.TarrifPlans .bg-image-3d-rhombus {
  background-image: url("../../images/bg-leaderboard-bottom.png");
  width: 291px;
  height: 291px;
  color: #f3f3f3;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 3px;
  right: 73px;
  opacity: 0.99;
  z-index: -1;
}

.TarrifPlans h1 {
  color: #262626;
  text-align: center;
  font-size: 55px;
  font-weight: 600;
  line-height: 85px;
  margin-bottom: 15px;
}

.TarrifPlans .choice {
  font-size: 20px;
  font-weight: 600;
  line-height: 2;
}
.TarrifPlans .tariff-select {
  max-width: 150px;
  margin: 35px auto 30px;
}

.duration-inputs {
  margin-bottom: 32px;
}

label {
  font-size: 18px;
}

input {
  margin-right: 5px;
}

.option-card {
  max-width: 384px;
  width: 100%;
  border: 1px solid white;
  border-radius: 4px;
  background-color: white;
  background-image: url("../../images/card-bg-image.svg");
  background-repeat: no-repeat;
  background-position: 90%;
  padding: 32px 24px;
  font-weight: 600;
}

.option-card .option-name {
  font-size: 20px;
  font-weight: 400px;
  line-height: 23px;
  margin-bottom: 12px;
}

.option-card .option-price {
  font-size: 16px;
  margin-bottom: 20px;
}

.option-card .option-price span {
  font-size: 32px;
}

.option-card ul {
  margin: 32px 0 0;
  list-style: none;
  padding: 0px;
}

.option-card ul li {
  font-size: 16px;
  line-height: 25px;
}
.option-card ul li {
  margin-bottom: 18px;
}

.option-card ul img {
  margin-right: 12px;
}

.option-card .tarrif-btn {
  margin-top: 12px;
  border: 1px solid #feeb61;
  background-color: #feeb61;
  border-radius: 4px;
  width: 100%;
  padding: 10px 0px;
  font-size: 14px;
  font-weight: 600;
}

.option-dark-card {
  max-width: 440px;
  width: 100%;
  border: 1px solid #32312f;
  border-radius: 4px;
  background-color: #32312f;
  background-image: url("../../images/card-bgdark-image.svg");
  background-repeat: no-repeat;
  background-position: 90%;
  padding: 32px 24px;
  color: #ffffff;
  font-weight: 600;
}

.option-dark-card .option-name {
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;
}

.option-dark-card .popular {
  color: #080808;
  background: #feeb61;
  border-radius: 80px;
  padding: 4px 12px;
  height: 32px;
}

.option-dark-card .option-price {
  font-size: 18px;
}

.option-dark-card .option-price span {
  font-size: 48px;
}

.option-dark-card ul {
  margin: 32px 0 0;
  list-style: none;
  padding: 0px;
}

.option-dark-card ul li {
  font-size: 20px;
  line-height: 32px;
}
.option-dark-card ul li {
  margin-bottom: 20px;
}

.option-dark-card ul img {
  margin-right: 16px;
}

.option-dark-card .tarrif-btn {
  margin-top: 12px;
  border: 1px solid #feeb61;
  background-color: #feeb61;
  border-radius: 4px;
  width: 100%;
  padding: 17px 0px;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 1180px) {
  /* .TarrifPlans {
    padding: 35px 0 0;
  } */
  /* .tariff-plans-inner {
    padding: 0 34px;
  } */
  .tarrifs-option-container {
    flex-direction: column;
   
  }
  .option-dark-card {
    margin: 20px 0;
  }
  .option-dark-card .justify-content-between {
    align-items: flex-start;
  }
}

@media screen and (max-width: 800px) {
  .TarrifPlans {
    overflow: hidden;
  }
  .TarrifPlans .tariff-select {
    margin: 20px auto 25px;
  }
  .TarrifPlans h1 {
    font-size: 30px;
    line-height: 36px;
  }
  .TarrifPlans .choice {
    font-size: 14px;
  }
  .option-dark-card {
    height: auto;
    padding: 28px 20px;
    background-position: center center;
    background-size: contain;
  }
  .option-dark-card,
  .option-card {
    max-width: 100%;
  }
  .option-dark-card .popular {
    margin-bottom: 0;
    font-size: 12px;
    padding: 0px 12px;
    line-height: 30px;
    height: auto;
  }
  .option-dark-card .option-name {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
  }
  .option-dark-card .option-price {
    font-size: 16px;
  }
  .option-dark-card .option-price span {
    font-size: 32px;
  }
  .option-dark-card ul li {
    font-size: 16px;
    line-height: 1.6;
  }
  .option-dark-card ul li {
    margin-bottom: 15px;
  }
  .option-dark-card ul img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  .option-dark-card .tarrif-btn {
    font-size: 14px;
    padding: 12px 0px;
    line-height: 1;
  }
  .option-card .option-name {
    font-size: 18px;
  }
  .option-card ul li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
  }
}