table {
  background: white;
  border-radius: 8px;
  margin: 0 auto;
}

.leader-position-table .leader-position-item th,
.leader-position-table .leader-position-item td,
.leader-position-table .leader-position-item tr .direction {
  padding: 15px 40px;
}
