.BotConfigurationForm {
    color: #262626;
}

.BotConfigurationForm-title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}
.BotConfigurationForm .botconfig-container {
    padding: 20px;
    background: #fff;
}

.BotConfigurationForm .section-header {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.leader-name-btn {
    margin-top: 15px;
    width: 100%;
    min-height: 40px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #feeb61;
    background: #feeb61;
    text-decoration: none;
    color: #080808;
    cursor: pointer;
}

.BotConfigurationForm .more-info-icon {
    width: 16.67px;
    height: 16.67px;
}

.BotConfigurationForm .account-choice {
    padding: 25px 0;
}

.account-choice-select {
    position: relative;
}

.account-choice-select:after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: 5px;
    right: 15px;
    background: url("../../images/arrow-down.svg") no-repeat;
    background-position: center;
}

.account-choice select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 40px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #f1f1f1;
    cursor: pointer;
    background-color: #f1f1f1;
    -moz-appearance: none;
}

.mode-selection {
    padding-bottom: 25px;
}

.BotConfigurationForm .radio {
    width: 24px;
    height: 24px;
    accent-color: #262626;
    margin-top: -1px;
    vertical-align: middle;
    margin-right: 10px;
}

.mode-inputs label {
    font-size: 18px;
    margin-bottom: 16px;
    cursor: pointer;
}

.mode-inputs label:last-child {
    margin-bottom: 0px;
}

.account-state {
    padding-bottom: 25px;
}

.account-state-row + .account-state-row {
    margin-top: 15px;
}

.account-state .account-indicator {
    font-size: 15px;
    font-weight: 600;
    color: #81858c;
}

.account-indicator .indicator-icon {
    width: 16.67px;
    height: 16.67px;
    margin-right: 7px;
}

.account-amounts {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.investment {
    margin-bottom: 32px;
}

.investment .invest-sum-input {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 22px;
}

.range-slider-wrapper {
    position: relative;
}

.range-slider-points {
    position: absolute;
    top: 4px;
    left: 0;
    right: 3px;
    /* height: 100%; */
    z-index: 0;
    pointer-events: none;
}

.range-slider-points:after {
    position: absolute;
    content: "";
    top: 6px;
    right: 3px;
    left: 3px;
    height: 4px;
    background: #dde0e5;
    z-index: -1;
}

.risk .range-slider-points:after {
    background: linear-gradient(
        270deg,
        #f00 2.31%,
        #fff500 51.32%,
        #10b866 98.33%
    );
}

.BotConfigurationForm input[type="range"] {
    --color: #10b866; 
    --gap: 8px; 
    --line: 5px;
    --size: 25px;

    width: 100%;
    height: var(--size); /* needed for Firefox*/
    --_c: color-mix(in srgb, var(--color), #000 var(--p, 0%));
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    cursor: pointer;
    overflow: hidden;
}

.BotConfigurationForm input[type="range"]:active,
.BotConfigurationForm input[type="range"]:focus-visible {
    --_b: var(--size);
}

.BotConfigurationForm input[type="range"]::-webkit-slider-thumb {
    height: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
    background: #10b866;
    border-image: linear-gradient(90deg, var(--_c) 50%, transparent 0) 1/0 100vw/0
        calc(100vw + var(--gap));

    clip-path: polygon(
        0 calc(50% + var(--line) / 2),
        -100vw calc(50% + var(--line) / 2),
        -100vw calc(50% - var(--line) / 2),
        0 calc(50% - var(--line) / 2),
        0 0,
        100% 0,
        100% calc(50% - var(--line) / 2),
        100vw calc(50% - var(--line) / 2),
        100vw calc(50% + var(--line) / 2),
        100% calc(50% + var(--line) / 2),
        100% 100%,
        0 100%
    );
    -webkit-appearance: none;
    appearance: none;
}

/* changing colors on range gradient input */

 .BotConfigurationForm .risk input[type="range"].green-color::-webkit-slider-thumb{
    background: #10b866;
 }

 .BotConfigurationForm .risk input[type="range"].lightgreen-color::-webkit-slider-thumb{
    background: #96da2e;
 }

 .BotConfigurationForm .risk input[type="range"].yellow-color::-webkit-slider-thumb{
    background: #ffe401;
    border-bottom: none;
 }

 .BotConfigurationForm .risk input[type="range"].orange-color::-webkit-slider-thumb{
    background: #ff6b01;
 }
 
 .BotConfigurationForm .risk input[type="range"].red-color::-webkit-slider-thumb{
    background: #ff0901;
 }

/* Firefox */
.BotConfigurationForm .investment input[type="range"]::-moz-range-thumb {
    height: var(--size);
    width: var(--size);
    background: none;
    border-radius: 50%;
    box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
    border-image: linear-gradient(90deg, var(--_c) 50%, transparent 0) 1/0 100vw/0
        calc(100vw + var(--gap));
    clip-path: polygon(
        0 calc(50% + var(--line) / 2),
        -100vw calc(50% + var(--line) / 2),
        -100vw calc(50% - var(--line) / 2),
        0 calc(50% - var(--line) / 2),
        0 0,
        100% 0,
        100% calc(50% - var(--line) / 2),
        100vw calc(50% - var(--line) / 2),
        100vw calc(50% + var(--line) / 2),
        100% calc(50% + var(--line) / 2),
        100% 100%,
        0 100%
    );
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s;
}

.BotConfigurationForm .risk input[type="range"] {
    --color: transparent;
}

.BotConfigurationForm .risk input[type="range"]::-webkit-slider-thumb {
    --risk-color: #10b866;
    transition: all 0.3s;
    background-color: var(--risk-color);
    border-image: unset;
}

@supports not (color: color-mix(in srgb, red, red)) {
    .BotConfigurationForm .investment input[type="range"] {
        --_c: var(--color);
    }
}

.range-point {
    width: 15px;
    height: 15px;
    background: #fff;
    border: 4px solid #dde0e5;
    border-radius: 50%;
    outline: 4px solid #fff;
}

.risk .range-point:first-child {
    border-color: #3ec453;
}

.risk .range-point:nth-child(2) {
    border-color: #96da2e;
}

.risk .range-point:nth-child(3) {
    border-color: #ffe401;
}

.risk .range-point:nth-child(4) {
    border-color: #ff6b01;
}

.risk .range-point:nth-child(5) {
    border-color: #ff0901;
}

.range-value {
    width: min-content;
    height: 20px;
    padding: 0 12px;
    border-radius: 2px;
    background: #10b866;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
}

.risk {
    margin-bottom: 32px;
}

.risk .risk-ratio {
    margin-top: 38px;
}

.risk .risk-cooeficient-container {
    margin-top: 20px;
    min-height: 30px;
}

.range-points-description{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: 12px;
    font-weight: 600;
    color: #81858C;
}

.description-item:nth-child(2),
.description-item:nth-child(3),
.description-item:nth-child(4){
    text-align: center;
}

.description-item:nth-child(5){
    text-align: right;
}

.BotConfigurationForm .plus-minus-labels,
.BotConfigurationForm .labels,
.BotConfigurationForm .warn-labels {
    color: #81858c;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
}

.BotConfigurationForm .warn-labels {
    color: red !important;
}

.BotConfigurationForm .labels {
    color: #81858c;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
}

.transaction-control {
    margin-bottom: 32px;
}

.slider {
    background-color: #ebeae8;
    border-color: none;
}

input:checked + .slider {
    background-color: #feeb61;
}

.slider:before {
    background-color: gray;
}

input:checked + .slider:before {
    background-color: white;
}

.transaction-control .max-deal {
    margin-top: 28px;
}

.stop-profit {
    margin-bottom: 32px;
}

.stop-profit .max-stop-profit {
    margin-top: 28px;
}

.stop-loss .max-stop-loss {
    margin-top: 28px;
    margin-bottom: 8px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:focus + .slider {
    box-shadow: 0 0 1px #feeb61;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.range-slider.grad {
    --progress-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) inset;
    --progress-flll-shadow: var(--progress-shadow);
    --fill-color: linear-gradient(to right, LightCyan, var(--primary-color));
    --thumb-shadow: 0 0 4px rgba(0, 0, 0, 0.3),
        -3px 9px 9px rgba(255, 255, 255, 0.33) inset,
        -1px 3px 2px rgba(255, 255, 255, 0.33) inset,
        0 0 0 99px var(--primary-color) inset;
    margin: 15px 0;
}
.range-slider.grad input:hover {
    --thumb-transform: scale(1.2);
}
.range-slider.grad input:active {
    --thumb-shadow: inherit;
    --thumb-transform: scale(1);
}

.range-inputs {
    width: 100%;
}

.input-group > .form-control {
    width: 100px;
}

.input-group {
    flex-wrap: nowrap;
    border-radius: 4px;
    overflow: hidden;
}

.input-group
    > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
        .valid-feedback
    ):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 0px;
    margin-right: 0px;
    border-color: #f1f1f1;
    text-align: center;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    background-color: #f1f1f1;
}

.input-group .btn {
    color: #81858c;
    font-size: 24px;
    border-color: #f1f1f1;
    border-radius: 1px;
    background-color: #f1f1f1;
}

p.green-text {
    color: darkorange;
}

.tooltip2 {
    margin-left: 6px;
    display: inline-block;
}

.tooltip2 .tooltiptext {
    visibility: hidden;
    background-color: white;
    font-size: 14px;
    color: rgb(139, 139, 139);
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    z-index: 100;
    box-shadow: 2px 4px 5px 0px rgba(158, 158, 158, 0.75);
}

.tooltip2:hover .tooltiptext {
    visibility: visible;
}

.busy-state {
    color: lightgray;
}

@media (min-width: 920px) {
    .BotConfigurationForm {
        padding: 40px 0 0 0;
    }

    .BotConfigurationForm .botconfig-container {
        border-radius: 8px;
        padding: 40px;
    }

    .BotConfigurationForm-title {
        margin-bottom: 35px;
        font-size: 26px;
    }

    .BotConfigurationForm .section-header {
        font-size: 20px;
    }

    .BotConfigurationForm .account-choice {
        padding: 35px 0;
    }
    .mode-selection {
        padding-bottom: 35px;
    }

    .leader-name-btn {
        margin: auto 0;
        min-width: 208px;
        padding: 0 10px;
        margin-top: 0;
        width: auto;
        margin-left: auto;
    }
}