.multistep-container {
    justify-content: center;
}

.go2392553372 {
    padding: 0px;
}

.go3842760039:before {
    background-color: #feeb61;
    color: #feeb61;
}

.go433304200:before {
    background-color: #feeb61;
}

.go2150698616:hover {
    color: #feeb61;
}

.go2392553372 ~ div:last-child {
    text-align: center;
    margin-top: -20px;
}

.multistep-container .yellow-btn:disabled {
    background-color: lightgrey;
    border: 1px solid lightgrey;
}

.multistep-button-container {
    padding: 25px 20px;
    text-align: center;
}

.multistep-button-container .next,
.multistep-button-container .prev {
    width: 100%;
    height: 40px;
    margin: 0;
}

.multistep-button-container .prev {
    background-color: #eaecef;
    border: none;
}

.multistep-button-container .prev:before {
    margin-right: 10px;
    display: inline-block;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(../../images/arrow-prev.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media (min-width: 768px) {
    .multistep-button-container .next,
    .multistep-button-container .prev {
        max-width: 208px;
    }
}
