.header-container {
  position: fixed;
  top: 0;
  height: 90px;
  width: 100%;
  z-index: 100;
  background: white;
  border: 1px solid lightgrey;
}

.PageHeader {
  margin-bottom: 90px;
  min-width: 1200px;
}

.PageHeader .fitt-logo {
  width: 56px;
  height: 56px;
  border-radius: 4px;
}

.PageHeader ul {
  list-style: none;
  margin: auto;
}

.left-nav-list {
  height: 40px;
}

.header-left {
  margin-right: auto;
  min-width: 600px;
}

.header-list-icon {
  width: 17.99px;
}

.header-left ul {
  margin-top: 18px;
}

.header-left ul li {
  margin-right: 10px;
}

.header-left a {
  margin: auto 0px auto 24px;
}

.header-left ul a {
  margin-left: 24px;
}

.header-left nav {
  margin: auto 0px;
}

.header-left ul a {
  text-decoration: none;
  font-size: 14px;
  color: #262626;
}

.PageHeader ul li:last-child {
  margin-right: 0px;
}

.gift-icon {
  width: 12px;
  height: 12px;
  margin-right: 7px;
}

.language-icon {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.user-header-icon {
  width: 30px;
  height: 30px;
  margin-right: 28px;
  margin-left: 20px;
}

.header-right {
  margin-right: 24px;
  margin-left: auto;
}

.header-right-container {
  min-width: 400px;
}

.header-right ul a {
  text-decoration: none;
  font-size: 14px;
  color: #080808;
}

.header-right li {
  padding: 9px 13px;
  font-size: 14px;
}

.header-right .highlight {
  background-color: #feeb61;
  border-radius: 4px;
}

.header-right .header-right li {
  margin-right: 32px;
}

.header-right .apikey-input {
  outline: none;
  padding-right: 10px;
}

.header-right .drop-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 170px;
  height: 40px;
  border-radius: 8px;
  padding-left: 15px;
  border-color: #feeb61;
  background: url("../../images/arrow-down.png") no-repeat 147px 16px;
  background-color: #feeb61;
  font-size: 15px;
  -moz-appearance: none;
}

.header-button {
  border: 1px solid #feeb61;
  background-color: #feeb61;
  border-radius: 4px;
  width: 100px;
  height: 40px;
  margin-left: 8px;
  color: #080808;
}

.header-balance-container {
  margin-left: 33px;
  min-width: 300px;
}

.header-balance-container .header-balance-amount {
  margin-top: 15px;
  margin-left: 24px;
}
.header-balance-subtitle {
  margin-top: 15px;
}

.header-balance-subtitle p {
  font-size: 14px;
  font-weight: 500;
  color: #81858c;
}

.header-balance-subtitle p:first-child {
  margin-bottom: 17px;
}

.header-balance-subtitle .dollar-icon {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.header-balance-subtitle .lock-icon {
  width: 20px;
  height: 20px;
  margin-right: 7px;
  margin-top: -5px;
}

.header-balance-amount p {
  text-align: right;
  font-size: 16px;
  font-weight: 500;
}

.header-balance-amount p:first-child {
  margin-bottom: 12px;
}

.selected-lang {
  font-size: 14px;
}

.list-table-icon {
  margin: auto 0px auto 24px;
}

.account-dropdown-container {
  position: relative;
}

.nav-dropdown {
  position: absolute;
  left: 7px;
  min-width: 200px;
}

.nav-dropdown .nav-dropdown-list {
  padding: 0px;
  background-color: white;
}

.nav-dropdown-list li {
  margin-right: 0px;
  border-bottom: 1px solid lightgrey;
}

.nav-dropdown-list .active {
  background-color: lightgrey;
}

.nav-dropdown-list li:hover {
  background-color: #f1f1f1;
}

.nav-dropdown-list li a {
  font-size: 18px;
}
