.header-left {
  margin-left: 24px;
  margin-top: 20px;
  margin-right: auto;
}

.PageHeader .fitt-logo {
  width: 56px;
  height: 56px;
  border-radius: 4px;
}

.PageHeader ul {
  list-style: none;
}

.header-left ul {
  margin-top: 18px;
}

.header-left ul li {
  margin-right: 30px;
}

.header-left ul a {
  text-decoration: none;
  font-size: 14px;
  color: #262626;
}

.PageHeader ul li:last-child {
  margin-right: 0px;
}

.gift-icon {
  width: 12px;
  height: 12px;
  margin-right: 7px;
}

.language-icon {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.user-header-icon {
  width: 30px;
  height: 30px;
  margin-right: 28px;
}

.header-right {
  margin-top: 10px;
  margin-right: 24px;
}

.header-right ul a {
  text-decoration: none;
  font-size: 14px;
  color: #080808;
}

.header-right li {
  padding: 9px 13px;
  font-size: 14px;
}

.header-right .highlight {
  background-color: #feeb61;
  border-radius: 4px;
}

.header-right ul li {
  margin-right: 32px;
}

.header-button {
  border: 1px solid #feeb61;
  background-color: #feeb61;
  border-radius: 4px;
  width: 100px;
  height: 40px;
  margin-left: 8px;
  color: #080808;
}

.header-balance-container {
  margin-left: 33px;
}

.header-balance-container .header-balance-amount {
  margin-left: 24px;
}

.header-balance-subtitle p {
  font-size: 14px;
  font-weight: 500;
  color: #81858c;
}

.header-balance-subtitle p:first-child {
  margin-bottom: 15px;
}

.header-balance-subtitle .dollar-icon {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.header-balance-subtitle .lock-icon {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.header-balance-amount p {
  font-size: 16px;
  font-weight: 500;
}

.header-balance-amount p:first-child {
  margin-bottom: 15px;
}

.selected-lang {
  font-size: 14px;
}
