.QuestionsSidebar {
  width: 290px;
  height: 100%;
  color: #262626;
  border: 1px solid #dcdfe4;
  border-top: 0;
  flex-shrink: 0;
}

.question-sidebar-header p {
  padding: 20px;
  margin: 0px;
}

.QuestionsSidebar nav {
  padding: 15px 10px 20px 0px;
}

.question-sidebar-header p {
  font-size: 20px;
  font-weight: 600;
}

.question-sidebar-header {
  text-decoration: none;
  list-style: none;
  padding: 0px;
}

.QuestionsSidebar nav {
  /* margin-top: 32px; */
  /* border-bottom: 1px solid #dcdfe4; */
}

.question-sidebar-list {
  padding-left: 0px;
}

.question-sidebar-list li {
  list-style: none;
  margin-bottom: 5px;
}

.question-sidebar-list li:last-child {
  margin-bottom: 0px;
}

.question-sidebar-list li a {
  text-decoration: none;
  color: #262626;
  font-size: 16px;
  display: block;
  font-weight: 600;
  padding: 8px 0px 8px 20px;
  position: relative;
  border-left: 2px solid transparent;
  transition: 0.25s ease;
}
.question-sidebar-list li a.active {
  background: #f5f5f5;
  border-left: 2px solid #feeb61;
}
