.BotManagementCard {
  min-width: 580px;
  height: 262px;
  padding: 25px 30px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  margin: 10px;
}

.BotManagementCard .user-account-icon {
  width: 54px;
  height: 54px;
  margin-right: 13px;
  margin-bottom: 30px;
}

.bot-option {
  font-size: 16px;
  color: #000000;
  margin-bottom: 18px;
}

.bot-option span {
  color: #81858c;
}

.bot-option.green {
  color: #10b866;
}

.bot-option.red {
  color: #ff0000;
}

.bot-button-container {
  margin-top: 5px;
}

.bot-button-container div {
  background-color: #feeb61;
  border: 4px solid #f1df58;
  border-radius: 50%;
  margin-right: 15px;
  padding: 8px 13px;
}

.bot-button-container div:hover {
  background-color: #fef961;
}

.bot-button-container div:active,
.bot-button-container div.disabled {
  background-color: #fafafa;
  border: 4px solid #dedede;
}

.bot-button-container .play-icon {
  width: 14px;
  height: 20px;
  margin-left: 2px;
}

.bot-button-container .stop-icon,
.bot-button-container .edit-icon,
.bot-button-container .delete-icon,
.bot-button-container .statistic-icon {
  width: 15px;
  height: 15px;
}

.start-btn {
  border: 1px solid #feeb61;
  background-color: #feeb61;
  border-radius: 4px;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  color: #080808;
}

.copy-header,
.approve-header {
  margin: 0;
  color: #262626;
  font-size: 20px;
}

.approve-text {
  margin: 20px;
  text-align: center;
  font-weight: 250;
  font-size: 18px;
}

.bot-modal {
  top: 130px;
}

.bot-modal .modal-dialog {
  max-width: 1200px !important;
  margin-right: auto;
  margin-left: auto;
}

.approve-modal .modal-dialog {
  top: 130px;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.approve-btn {
  border: 1px solid #feeb61;
  background-color: #feeb61;
  border-radius: 4px;
  width: 47%;
  height: 40px;
  margin: 5px;
  color: #080808;
}

.approve-btn.delete {
  border: 1px solid rgb(241, 103, 103);
  background-color: rgb(241, 103, 103);
  color: white;
}

.table-container {
  overflow-y: scroll;
  height: 370px;
}

.radio-buttons-wrapper {
  width: 500px;
  margin: 10px 30px;
}
