.Notifications {
    padding: 35px 20px;
    border-left: 1px solid #dcdfe4;
}

.Notifications h1 {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 600;
    color: #262626;
}

.Notifications p {
    margin-bottom: 25px;
    font-size: 14px;
    color: #81858c;
}

.Notifications ol {
    color: #81858c;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 50px;
}

.Notifications .yellow-btn {
    width: 100%;
}

@media (min-width: 768px) {
    .Notifications h1 {
        margin-bottom: 50px;
        font-size: 25px;
    }
    .Notifications p,
    .Notifications ol {
        font-size: 16px;
    }
    .Notifications .yellow-btn {
        width: max-content;
    }
}
