.Sidebar {
    display: none;
    width: 328px;
    height: 100%;
    color: #262626;
    background-color: #fff;
}

.sidebar-user-info {
    margin-right: 40px;
}
.sidebar-header {
    padding: 37px 30px 20px 20px;
}
.sidebar-header p {
    margin-bottom: 0px;
}

.sidebar-header p:first-child {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.sidebar-header p:last-child {
    color: #81858c;
    font-size: 14px;
}

.sidebar-icon {
    background-color: #f1f1f1;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.sidebar-list {
    text-decoration: none;
    list-style: none;
    padding: 0px;
}

.Sidebar nav {
    border-bottom: 1px solid #dcdfe4;
}

.sidebar-option {
    min-height: none;
}

.sidebar-option a {
    text-decoration: none;
    color: #262626;
    font-size: 16px;
    margin-left: 12px;
}

.logout-section:hover {
    cursor: pointer;
    background-color: #dbdada85;
}

.logout-section a {
    text-decoration: none;
    color: #262626;
}

.logout-section img {
    margin-right: 15px;
}

@media screen and (min-width: 1500px) {
    .Sidebar {
        display: block;
    }
}
