.Registration .container {
  max-width: 440px;
}
.form-group.form-check {
  display: flex;
  align-items: flex-start;
}
.form-group.form-check label {
  display: block;
  padding-top: 3px;
  padding-left: 4px;
  color: #000;
  font-weight: 600;
  line-height: 160%;
}
.form-group.form-check label a {
  color: #000;
}
